<%- include('header') %>

<div class="ui grid">
  <div class=""></div>
  <div class="signup-form-wrapper">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>用户名</label>
        <input placeholder="用户名" type="text" name="name">
      </div>
      <div class="field required">
        <label>密码</label>
        <input placeholder="密码" type="password" name="password">
      </div>
      <div class="field required">
        <label>重复密码</label>
        <input placeholder="重复密码" type="password" name="repassword">
      </div>
      <div class="field required">
        <label>性别</label>
        <select class="ui compact selection dropdown" name="gender">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
      <div class="field required">
        <label>头像</label>
        <input type="file" class="upload-avator">
        <input type="text" name="avatar" style="display: none">
      </div>
      <div class="field required">
        <label>个人简介</label>
        <textarea name="bio" rows="5"></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="注册">
    </form>
  </div>
</div>

<script  type="text/javascript">
    var avatar = '';
    $(".upload-avator").on('change', function(e){
        var file = this.files[0];
        var r = new FileReader();  //本地预览
        r.onload = function(e){
           avatar = e.target.result;
           $('input[name="avatar"]').val(avatar);
        }
        r.readAsDataURL(file);    //Base64
    })
    // $('#sign-submit').click(function(){
    //     var name = $('.signup-name').val();
    //     var password = $('.signup-password').val();
    //     var repassword = $('.signup-repassword').val();
    //     var gender = $('.selection').find("option:selected").val();
    //     var bio = $('.signup-desc').val();
    //     var params = {
    //         name: name,
    //         password: password,
    //         repassword: repassword,
    //         gender: gender,
    //         bio: bio,
    //         avatar: avatar
    //     }

    //     $.ajax({
    //         type: 'POST',
    //         url: '/signup',
    //         data: params,
    //         success: function(res) {
    //             console.log(res)
    //         },
    //         dataType: 'json',
    //         // contentType: "application/json; charset=utf-8"
    //     });
    // })
    // var submitBtn = $('.segment');
    // submitBtn.submit(function(e){
    //     return true;
    // })

</script>

<%- include('footer') %>
