/* ---------- 全局样式 ---------- */

body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 40px;
}

a:hover {
  border-bottom: 3px solid #4fc08d;
}

.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}

.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
}

/* ---------- nav ---------- */

.nav {
  margin-bottom: 20px;
  color: #999;
  text-align: center;
}

.nav h1 {
  color: #4fc08d;
  display: inline-block;
  margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}

/* ---------- post-content ---------- */

.post-content h3 a {
  color: #4fc08d !important;
}

.post-content .tag {
  font-size: 13px;
  margin-right: 5px;
  color: #999;
}

.post-content .tag.right {
  float: right;
  margin-right: 0;
}

.post-content .tag.right a {
  color: #999;
}


/*重写页面样式*/

.page-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.sign-up-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sing-up-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-group {
	width: 80%;
}
.input-group-addon {
	width: 80px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.login-up-form-item {
	width: 80%;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.login-up-form-item input {
	max-width: 200px;
	display: none !important;
}
.login-up-form-item label {
	margin:0 20px 0 0;
	white-space: nowrap;
}
.column-flex {
	align-items: flex-start;
	flex-direction: column;
}
.column-flex label {
	margin-bottom: 15px;
}
.column-flex textarea {
	width: 100%;
	height: 100px;
}
.signup-form-wrapper {
  margin-bottom: 20px;
}
.notification-wrapper {
  /*flex: 1;*/
}